<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  header {
    color: #F0F0F0;
    margin-bottom: 25px;
    background-color: rgb(130, 87, 230);
    padding: 16px;
  }

  header h1 {
    font-size: 26px;
  }

  main {
    margin: 40px 0;
  }

  main h2 {
    color: #373435;
  }

  main p {
    text-align: justify;
    line-height: 28px;
    margin: 16px 32px;
  }

  footer {
    color: #F0F0F0;
    margin-top: 25px;
    background-color: rgb(130, 87, 230);
    padding: 64px 32px;
    text-align: left;
  }

  footer strong {
    font-size: 24px;
  }

  footer p {
    margin: 40px 0;
  }

  footer span {
    font-size: 12px;
  }
</style>

<div class="message-content">
  <header>
    <h1>Bem vindo á plataforma WeHealthy</h1>
  </header>

  <main>
    <h2>Olá, {{name}}</h2>

    <p>Seu cadastro foi criado com sucesso.</p>

    <p>Agora é só confirmar o seu e-mail clicando no botão abaixo.</p>
  </main>

  <footer>
    <strong>Equipe WeHealthy</strong>

    <p>
      Caso tenha alguma dúvida ou queira entrar em contato envie um e-mail para oi@wehealthy.com.br
    </p>

    <span>
      WeHealthy Financeiro S.A. 41.881.697/0001-34<br />
      Rua: José Romano, 28 - 03322-040 - São Paulo - SP
    </span>
  </footer>
</div>
